 
  @import '../../scss/base/variables.scss';
.products-wrapper {
  padding-top: 98px;
  animation: slideUp 300ms linear;
  animation-delay: 150ms;
  @media (max-width: 991px) {
    padding-top: 68px;
  }
  @media (max-width: 480px) {
    padding-top: 52px;
  }
}
.products {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding: 16px;
  //max-width: 960px;
  margin: 0 auto;
  @media (max-width: 768px) {
    padding: 8px;
  }
  
}

.fadeIn-enter {
  opacity: 0.01;
}

.fadeIn-enter.fadeIn-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fadeIn-leave {
  opacity: 1;
}

.fadeIn-leave.fadeIn-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.product:nth-child(1) {
  transition-delay: 200ms;
}
.product:nth-child(2) {
  transition-delay: 200ms;
}
.product:nth-child(3) {
  transition-delay: 400ms;
}
.product:nth-child(4) {
  transition-delay: 600ms;
}
.product:nth-child(5) {
  transition-delay: 800ms;
}
.product:nth-child(6) {
  transition-delay: 1000ms;
}
.product:nth-child(7) {
  transition-delay: 1200ms;
}
.product:nth-child(8) {
  transition-delay: 1400ms;
}
.product:nth-child(9) {
  transition-delay: 1600ms;
}
.product:nth-child(10) {
  transition-delay: 1800ms;
}
.product:nth-child(11) {
  transition-delay: 2000ms;
}
.product:nth-child(12) {
  transition-delay: 2200ms;
}

@keyframes contentLoader {
  0% {
    background-position: -420px 0;
  }
  100% {
    background-position: 420px 0;
  }
}

