.register {
    h2{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    label {
        color: #077915;
    }
    .green-link{
        color: #077915; 
        text-decoration: underline;
      }
    register-btn {
        color: #077915;
    }
    .register-top-spacing {
        top: 100px;
    }
}